# Data Science Tools and Ecosystem

In [8]:
##Create a markdown cell for an introduction

## In this notebook, Data Science Tools and Ecosystem are summarized.

# Objectives:

### Some of the popular languages that Data Scientists use are:
    Pyhton
    R
    SQL

### Some of the commonly used libraries used by Data Scientists include:
TensorFlow
NumPy
SciPy 
Pandas
Matplotlib 
Keras
SciKit-Learn
PyTorch
Scrapy

### Data Science Tools:
    Data Wrangling	R	dplyr
    Data Wrangling	Python	Pandas
    Visualization	R	ggplot2
    Visualization	Python	Matplotlib

## Create a markdown cell introducing arithmetic expression examples

In [2]:
print(2+3)
print(3-2)
print(3*2)
print(3/3)

5
1
6
1.0

## Create a code cell to multiply and add numbers

In [5]:
x = 15
y = 20
z = x * y + 400
print(z)

700

## Create a code cell to convert minutes to hours

In [7]:
a = int(input('Enter a number in minutes'))
hours = a/60
print(hours)

Enter a number in minutes120
2.0

Author Name:

# Sanoj Kumar